build --enable_bzlmod

# CI Configuration
# ----------------
common:ci --announce_rc
test:ci --test_output=errors --test_summary=terse

# Remote Cache Authentication
# ---------------------------
try-import %workspace%/.bazelrc.auth

# User Configuration
# ------------------
try-import %workspace%/.bazelrc.local
