build --enable_bzlmod

# strict action env is in effect, but the tests rely on being able to
# locate `nix-shell` in PATH
test --test_env=PATH

# CI Configuration
# ----------------
common:ci --announce_rc
test:ci --test_output=errors --test_summary=terse

# MacOS CI Configuration
# ----------------------
# The unit tests have a tendency to timeout when executed on the GH macos 
# runners. So, we reduce the number of parallel jobs and increase the timeout 
# for the tests.
common:macos_ci --jobs=2
common:macos_ci --test_timeout=600

# Remote Cache Authentication
# ---------------------------
try-import %workspace%/.bazelrc.auth

# User Configuration
# ------------------
try-import %workspace%/.bazelrc.local
