name: Continuous integration
on:
  push:
    branches: main
  pull_request:
    branches: main
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '1 11 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  unit_tests:
    name: Unit Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: ./.github/actions/set_up_runner
      - name: Execute Bazel tests
        shell: bash
        run: bazel test //...
  
  integration_tests:
    name: Integration Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: ./.github/actions/set_up_runner
      - name: Execute simple
        uses: ./
        with:
          working-directory: ./tests/integration_tests
          options: |
            --arg customVarArg true
            --argstr customVarStr "Hello, World!"
          run: |
            echo "FIRST" > integration_test.out
            echo "${CUSTOM_VAR_BOOL}" >> integration_test.out
            echo "${CUSTOM_VAR_STR}" >> integration_test.out
      - name: Confirm output
        shell: bash
        run: |
          output="$(<integration_test.out)"
          expected="$(cat <<-EOF
          FIRST
          true
          Hello, World!
          EOF
          )"
          [[ "${output}" == "${expected}" ]] || \
            (echo >&2 "Ouptput from integration test does not match:" "${output}"; exit 1)

  all_ci_tests:
    runs-on: ubuntu-latest
    needs:
      - unit_tests
      - integration_tests
    if: ${{ always() }}
    steps:
      - uses: cgrindel/gha_join_jobs@794a2d117251f22607f1aab937d3fd3eaaf9a2f5 # v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
